body {
    background-color: #f5f5dd;
}
.jeden {
    background-color: black;
    
}
.dwa {
    background-color: rgba(0,0,0,0.6);
    
}

.trzy {
    background-color: rgba(0,0,0,0.4);
   
}

.cztery {
    background-color: rgba(0,0,0,0.2);
    
}

.jeden, .dwa, .trzy, .cztery {
    width: 6em;
    height: 6em;
}